[mysqld]

user = mysql

# default port
# port = 3306

basedir = /usr
datadir = /var/lib/mysql
tmpdir = /tmp

lc-messages-dir = /usr/share/mysql
lc-messages = en_US

skip-external-locking

# IMPORTANT: accept connections from all network interfaces
# This allows other Docker containers (like WordPress) to connect
bind-address = 0.0.0.0

character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
